*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 22px;
}

p{
  font-size: 18px;
}

.my_white{
  color: white;
}

.my_blue{
  color: #004aff;
}

.my_grey{
  color: #6f7b97;
}

.my_bottom_line{
  border-bottom: 2px solid white;
}




.debug #start{
  height: 50px;
  background-color: green;
  border: 2px solid black;
}

.debug #footer{
  height: 300px;
  background-color: black;
  border: 2px solid white;
}


/* HEADER */
header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
}

.logo{
  height: 60px;
  position: relative;
}

header img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

header li{
  font-size: 16px;
  line-height: 60px;
}

header a{
  color: black;
}

header a:hover{
  text-decoration: none;
  color: #004aff;
}

header .my_btn{
  color: #004aff;
  border: 1px solid #004aff;
  border-radius: 5px;
  padding: 5px;
}

header .my_btn:hover{
  color: white;
  border: 1px solid white;
  background-color: #004aff;
}

header .hidden-lg i{
  font-size: 30px;
  line-height: 60px;
  color: #004aff;

}

/* JUMBOTRON */
.jumbo{
  margin-top: 60px;
  padding: 50px 0;
  background-image: url(../img/bg-home-1.jpg);
  background-size: cover;
}

.my_box{
  background-color: white;
  border-radius: 10px;
}

.jumbo input{
  width: 100%;
  height: 30px;
  display: block;
  border-radius: 5px;
  margin: 5px 0;
}

.jumbo button{
  margin: 5px 0;
}

.jumbo .my_btn{
  width: 100%;
  color: white;
  background-color: #579aff;
  border-radius: 5px;
}

.jumbo .my_btn:hover{
  background-color: #004aff;
}

.jumbo .my_btn_google{
  width: 100%;
  color: #626262;
  background-color: white;
  border-radius: 5px;
}

.jumbo .my_btn_google:hover{
  color: black;
}

.jumbo .text{
  margin: 10px 0;
}

/* BUSINESS */
.business{
  padding: 50px 0;
  background-color: #f3f5f9;
}

.business .text{
  text-transform: uppercase;
  font-size: 12px;
  color: #6f7b97;
}

.business img{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.business .my_images{
  height: 130px;
  position: relative;
}

/* PROCESS */
.process{
  padding: 50px 0;
}

.process .my_list{
  list-style: none;
}

.process .my_item{
  font-size: 18px;
  color: #6f7b97;
  padding: 20px;
  border-left: 2px solid #6f7b97;
}

.process .text{
  font-size: 15px;
  color: #6f7b97;
}

/* DESIGNED */
.designed{
  padding: 50px 0;
  background-color: #f3f5f9;
}

.designed img{
  width: 100%;
}

.designed .hidden-xs i{
  font-size: 50px;
}

@media screen and (max-width: 991px){.designed .hidden-xs i{line-height: 305px;}}

@media screen and (min-width: 992px){.designed .hidden-xs i{line-height: 400px;}}

@media screen and (min-width: 1200px){.designed .hidden-xs i{line-height: 486px;}}

.designed .text-center i{
  color: #004aff;
}

/* FEATURES */
.features{
  padding: 50px 0;
}

.features .text{
  font-size: 15px;
  color: #6f7b97;
  margin-bottom: 10px;
}

/* SERVICE */
.service{
  padding: 50px 0;
  background: linear-gradient(0deg, rgba(0,30,154,1) 0%, rgba(0,71,197,1) 100%);
}

.service .text{
  font-size: 15px;
  font-weight: bold;
  color: white;
  line-height: 35px;
}

.service .location{
  font-size: 15px;
  color: #a9b6de;
  line-height: 35px;
}

.service a{
  font-size: 15px;
  color: #00d5d1;
  line-height: 35px;
}

.service .container .my_bottom_line:first-child{
  margin-top: 20px;
}

/* TEAMS */
.teams{
  padding: 50px 0;
  background-color: #f3f5f9;
}

.teams .hidden-xs i{
  font-size: 50px;
}

@media screen and (max-width: 991px){.teams .hidden-xs i{line-height: 305px;}}

@media screen and (min-width: 992px){.teams .hidden-xs i{line-height: 400px;}}

@media screen and (min-width: 1200px){.teams .hidden-xs i{line-height: 486px;}}

.teams .text-center i{
  color: #004aff;
}

.teams .box{
  height: 380px;
  background-color: white;
  border-radius: 10px;
}

.teams img{
  width: 80%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.teams .name{
  font-size: 18px;
  font-weight: bold;
}

.teams .box p{
  margin-bottom: 40px;
}

/* START */
.start{
  padding: 50px 0;
  background: linear-gradient(0deg, rgba(0,30,154,1) 0%, rgba(0,71,197,1) 100%);
}

.start h2{
  margin-bottom: 40px;
}

.start .my_btn{
  font-size: 20px;
  color: #004aff;
  border: 1px solid #004aff;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
}

/* FOOTER */
footer{
  padding: 50px 0;
  background-color: #031c4e;
}
